.conditions {
  line-height: 24px;
  .main-title {
    text-align: center;
  }
  
  &__text {
    margin-top: 54px;
    padding: 0 120px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase; 
    color: #660000;
    
    p, ul {
      margin-bottom: 16px;
    }
    
    ul {
      padding-left: 18px;
    }
    
    li {
      margin-bottom: 16px;
      list-style: disc;
    }
    
    a {
      color: inherit;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
