/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Swiper */

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/* End Swiper */

/* Fonts */

/* End Fonts */

/* Typography */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 48px;
  color: #4A4F4F;
}

.main-title {
  font-size: 85px;
  font-weight: 900;
  text-transform: uppercase;
  color: #660000;
}

/* End Typography */

/* Base styles */

.main-body {
  display: none;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/bg-desktop.jpg") no-repeat center center;
  background-size: 100% 100%;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.modal-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-check__body {
  padding: 20px 30px;
  border: 2px solid #660000;
  border-radius: 5px;
}

.modal-check__text {
  font-size: 30px;
  color: #660000;
}

.modal-check__btn-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  padding-top: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-check__yes,
.modal-check__no {
  margin-right: 10px;
  margin-bottom: 16px;
  margin-left: 10px;
  padding: 8px 20px;
  width: 100%;
  font-size: 18px;
  color: #f99d4d;
  background-color: #660000;
  border: 1px solid #660000;
  border-radius: 25px;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.modal-check__yes:hover,
.modal-check__no:hover {
  color: #660000;
  background-color: #f99d4d;
}

/* End Base styles */

/* MAIN STYLES */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__black-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.header__black-logo img {
  width: 149px;
  height: 115px;
}

.header__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

.header__logo img {
  width: 154px;
  height: 193px;
}

.header__brands {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__brands img {
  display: block;
}

.content-body {
  text-align: center;
  text-transform: uppercase;
}

.content-body__small-title {
  margin-top: 24px;
  font-size: 35px;
  line-height: 36px;
  font-weight: 900;
  color: #ffffff;
}

.content-body__small-title span {
  font-size: 22px;
}

.content-body__grill {
  position: relative;
  display: inline-block;
  margin-top: 24px;
}

.content-body__grill .grill-img {
  width: 156px;
  height: 209px;
}

.content-body__grill .bottle-1,
.content-body__grill .bottle-2,
.content-body__grill .bottle-3,
.content-body__grill .bottle-4,
.content-body__grill .bottle-5,
.content-body__grill .bottle-6 {
  position: absolute;
}

.content-body__grill .bottle-1 {
  top: 0;
  left: -110px;
}

.content-body__grill .bottle-2 {
  top: 75px;
  left: -55px;
}

.content-body__grill .bottle-3 {
  top: 112px;
  left: -145px;
}

.content-body__grill .bottle-4 {
  top: 0;
  right: -110px;
}

.content-body__grill .bottle-5 {
  top: 75px;
  right: -160px;
}

.content-body__grill .bottle-6 {
  top: 135px;
  right: -55px;
}

.form {
  font-family: 'Roboto', sans-serif;
}

.form__row {
  padding: 0 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.form input {
  margin-bottom: 24px;
  padding: 16px;
  width: 100%;
  font-size: 18px;
  color: #660000;
  background-color: #f99d4d;
  border: 1px solid #660000;
  border-radius: 25px;
  outline: none;
}

.form input:focus {
  border: 2px solid #660000;
}

.form input::-webkit-input-placeholder {
  color: #660000;
}

.form input::-moz-placeholder {
  color: #660000;
}

.form input:-ms-input-placeholder {
  color: #660000;
}

.form input::-ms-input-placeholder {
  color: #660000;
}

.form input::placeholder {
  color: #660000;
}

.form button {
  margin-bottom: 16px;
  padding: 16px 70px;
  font-size: 18px;
  color: #f99d4d;
  background-color: #660000;
  border: 1px solid #660000;
  border-radius: 25px;
  outline: none;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.form button:hover {
  color: #660000;
  background-color: #f99d4d;
}

.form__descr {
  margin: 0 auto;
  max-width: 760px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: none;
  color: #660000;
}

.form__descr a {
  text-decoration: underline;
  color: inherit;
}

.form__descr a:hover {
  text-decoration: none;
}

.form .checkbox-wrapper {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .checkbox-wrapper input {
  position: absolute;
  top: 8px;
  left: -36px;
  width: 24px;
  height: 24px;
}

.form .checkbox-wrapper label {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  color: #660000;
}

.conditions {
  line-height: 24px;
}

.conditions .main-title {
  text-align: center;
}

.conditions__text {
  margin-top: 54px;
  padding: 0 120px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #660000;
}

.conditions__text p,
.conditions__text ul {
  margin-bottom: 16px;
}

.conditions__text ul {
  padding-left: 18px;
}

.conditions__text li {
  margin-bottom: 16px;
  list-style: disc;
}

.conditions__text a {
  color: inherit;
}

.conditions__text a:hover {
  text-decoration: underline;
}

.address {
  line-height: 24px;
}

.address .main-title {
  font-size: 65px;
  line-height: 65px;
  text-align: center;
}

.address__text {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.address__text-col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  padding: 0 100px;
}

.address__text-col-6 h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #660000;
}

.address__text-col-6 p {
  color: #660000;
}

/* END MAIN STYLES */

@media screen and (max-width: 768px) {
  .main-title {
    font-size: 60px;
  }

  .header__black-logo {
    width: calc(33.33333% - 30px);
  }

  .header__logo {
    width: calc(25% - 30px);
  }

  .header__brands {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-body__small-title {
    font-size: 26px;
    line-height: 30px;
  }

  .content-body__small-title span {
    font-size: 16px;
  }

  .content-body__grill .bottle-1 {
    left: -35px;
    width: 37px;
  }

  .content-body__grill .bottle-2 {
    top: 85px;
    left: -25px;
    width: 25px;
  }

  .content-body__grill .bottle-3 {
    top: 145px;
    left: -45px;
    width: 35px;
  }

  .content-body__grill .bottle-4 {
    right: -40px;
    width: 33px;
  }

  .content-body__grill .bottle-5 {
    right: -50px;
    width: 36px;
  }

  .content-body__grill .bottle-6 {
    top: 159px;
    right: -23px;
    width: 16px;
  }

  .form__row {
    padding: 0 15px;
  }

  .conditions__text {
    margin-top: 24px;
    padding: 0;
  }

  .address__text-col-6 {
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  .main-title {
    font-size: 34px;
  }

  .main-body {
    background: url("../img/bg-mobile.jpg") no-repeat center center;
    background-size: 100% 100%;
  }

  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__black-logo {
    width: calc(25% - 30px);
  }

  .header__black-logo {
    margin: 0;
  }

  .header__black-logo img {
    width: 60px;
    height: 46px;
  }

  .header__logo {
    width: calc(25% - 30px);
  }

  .header__logo {
    margin: 0;
  }

  .header__logo img {
    width: 100px;
    height: 124px;
  }

  .header__brands {
    margin: 0;
  }

  .header__brands img {
    width: 52px;
  }

  .header__brands .brand-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .content-body__small-title {
    margin-top: 10px;
    font-size: 17px;
    line-height: 22px;
  }

  .content-body__small-title span {
    font-size: 12px;
  }

  .form__col-6 {
    width: calc(100% - 30px);
  }

  .form__descr {
    font-size: 14px;
    line-height: 20px;
  }

  .form .checkbox-wrapper {
    margin-top: 0;
  }

  .form .checkbox-wrapper input {
    top: 9px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .form .checkbox-wrapper label {
    font-size: 14px;
  }

  .conditions .main-title {
    font-size: 24px;
  }

  .conditions__text {
    margin-top: 16px;
  }

  .conditions__text {
    font-size: 12px;
  }

  .address .main-title {
    font-size: 24px;
    line-height: 30px;
  }

  .address__text {
    margin-top: 24px;
  }

  .address__text-col-6 {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 360px) {
  .header__brands img {
    width: 38px;
  }

  .header__black-logo {
    width: calc(20% - 30px);
  }
}