.content-body {
  text-align: center;
  text-transform: uppercase;


  &__small-title {
    margin-top: 24px;
    font-size: 35px;
    line-height: 36px;
    font-weight: 900;
    color: #ffffff;

    @include md-block() {
      font-size: 26px;
      line-height: 30px;
    }

    @include sm-block() {
      margin-top: 10px;
      font-size: 17px;
      line-height: 22px;

    }

    span {
      font-size: 22px;

      @include md-block() {
        font-size: 16px;
      }

      @include sm-block() {
        font-size: 12px;
      }
    }
  }

  &__grill {
    position: relative;
    display: inline-block;
    margin-top: 24px;

    .grill-img {
      width: 156px;
      height: 209px;
    }

    .bottle-1,
    .bottle-2,
    .bottle-3,
    .bottle-4,
    .bottle-5,
    .bottle-6 {
      position: absolute;
    }
    
    .bottle-1{
      top: 0;
      left: -110px;
      
      @include md-block() {
        left: -35px;
        width: 37px;
      }
    }
    
    .bottle-2{
      top: 75px;
      left: -55px;
      @include md-block() {
        top: 85px;
        left: -25px;
        width: 25px;
      }
    }
    
    .bottle-3{
      top: 112px;
      left: -145px;
      @include md-block() {
        top: 145px;
        left: -45px;
        width: 35px;
      }
    }
    
    .bottle-4{
      top: 0;
      right: -110px;
      @include md-block() {
        right: -40px;
        width: 33px;
      }
    }
    
    .bottle-5{
      top: 75px;
      right: -160px;
      @include md-block() {
        right: -50px;
        width: 36px;
      }
    }
    
    .bottle-6{
      top: 135px;
      right: -55px;
      @include md-block() {
        top: 159px;
        right: -23px;
        width: 16px;
      }
    }
  }
}

.form {
  font-family: 'Roboto', sans-serif;

  &__row {
    padding: 0 115px;
    @include row-flex();
    justify-content: center;

    @include md-block() {
      padding: 0 15px;
    }
  }

  &__col-6 {
    @include col();
    @include size(6);
    @include size-sm(12);
  }

  input {
    margin-bottom: 24px;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    color: #660000;
    background-color: #f99d4d;
    border: 1px solid #660000;
    border-radius: 25px;
    outline: none;

    &:focus {
      border: 2px solid #660000;
    }

    &::placeholder {
      color: #660000;
    }
  }

  button {
    margin-bottom: 16px;
    padding: 16px 70px;
    font-size: 18px;
    color: #f99d4d;
    background-color: #660000;
    border: 1px solid #660000;
    border-radius: 25px;
    outline: none;
    transition: $base-transition;

    &:hover {
      color: #660000;
      background-color: #f99d4d;
    }
  }

  &__descr {
    margin: 0 auto;
    max-width: 760px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: none;
    color: #660000;

    @include sm-block() {
      font-size: 14px;
      line-height: 20px;
    }

    a {
      text-decoration: underline;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .checkbox-wrapper {
    position: relative;
    display: inline-flex;
    margin-top: 20px;
    justify-content: center;

    @include sm-block() {
      margin-top: 0;
    }

    input {
      position: absolute;
      top: 8px;
      left: -36px;
      width: 24px;
      height: 24px;

      @include sm-block() {
        top: 9px;
        left: -30px;
        width: 20px;
        height: 20px;
      }
    }

    label {
      font-size: 24px;
      font-weight: 700;
      text-transform: none;
      color: #660000;

      @include sm-block() {
        font-size: 14px;
      }
    }
  }
}
