.main-body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background: url('../img/bg-desktop.jpg') no-repeat center center;
    background-size: 100% 100%;
    
    @include sm-block() {
        background: url('../img/bg-mobile.jpg') no-repeat center center;
        background-size: 100% 100%;
    }
}

.main-content {
    flex: 1 1 auto;
}


.container {
    @include container();
    width: 100%;
}
