.main-body {
  display: none;
  min-height: 100%;
  flex-direction: column;
  background: url('../img/bg-desktop.jpg') no-repeat center center;
  background-size: 100% 100%;

  @include sm-block() {
    background: url('../img/bg-mobile.jpg') no-repeat center center;
    background-size: 100% 100%;
  }
}

.main-content {
  flex: 1 1 auto;
}


.container {
  @include container();
  width: 100%;
}

.modal-check {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  
  &__body {
    padding: 20px 30px;
    border: 2px solid #660000;
    border-radius: 5px;
  }
  
  &__text {
    font-size: 30px;
    color: #660000;
  }
  
  &__btn-body {
    display: flex;
    margin: 0 -10px;
    padding-top: 24px;
    justify-content: space-between;
  }
  
  &__yes,
  &__no {
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 10px;
    padding: 8px 20px;
    width: 100%;
    font-size: 18px;
    color: #f99d4d;
    background-color: #660000;
    border: 1px solid #660000;
    border-radius: 25px;
    outline: none;
    transition: $base-transition;

    &:hover {
      color: #660000;
      background-color: #f99d4d;
    }
  }

}
