body {
  font-family: 'Montserrat', sans-serif;;
  font-size: $base-font-size;
  line-height: $base-line-height * 2;
  color: $base-text-color;
}

//font-family: 'Roboto', sans-serif;

.main-title {
  font-size: 85px;
  font-weight: 900;
  text-transform: uppercase;
  color: #660000;
  
  @include md-block() {
    font-size: 60px;
  }
  
  @include sm-block() {
    font-size: 34px;
  }
}
