.address {
  line-height: 24px;

  .main-title {
    text-align: center;
  }

  &__text {
    margin-top: 48px;
    @include row-flex();
    justify-content: center;
  }

  &__text-col-6 {
    @include col();
    @include size(6);
    padding: 0 100px;

    h2 {
      margin-bottom: 10px;
      font-size: 30px;
      color: #660000;
    }

    p {
      color: #660000;
    }
  }
}
